h1{
  color:hsla(122, 87%, 62%, 0.78);
  font-style:italic;
  padding: 10px;
  text-align: center;
  font-size: 42px;
}
body{
  background-color: black;
  border-radius: 30px;
}
p{
  border-style: groove;
  padding: 10px;
  border-width: 15px;


}
.answer{
  border-color: hsla(44, 100%, 40%, 1.0); 
  color: hsla(197, 100%, 59%, .82);
  background-color: lavenderblush;
}
.question{
  border-color: lightsteelblue; 
  color:hsla(44, 100%, 40%, 1.0)
}