
body{
  background-color: black;
  border-radius: 30px;

}

nav{
  width: 93.5vw;
  border-color: rgb(36, 96, 148);
  border-style: groove;
  border-width: 15px;
  padding: 5px;
  list-style-type: none;
  
}

nav ul{
  width: inherit;
  display: inline-block;
  align-content: center;
  margin-left: auto;
  margin-right: auto;

}

nav ul li{
  display: inline-block;
  margin-left:auto;
  margin-right: auto;
  padding-left: 19vw;
  
}

h1{
  color:hsla(122, 87%, 62%, 0.78);
  font-style:italic;
  padding: 10px;
  text-align: center;
  font-size: 42px;
}

p{
  border-style: groove;
  padding: 10px;
  border-width: 15px;

}

article{
  text-align: left;
  
}

article h4{
  color: hsla(122, 87%, 62%, 0.78);
  font-size: 18pt;
  text-align: center;
}

.answer{
  border-color: hsla(44, 100%, 40%, 1.0); 
  color: hsla(197, 100%, 59%, .82);
  background-color: lavenderblush;
 

}

.question{
  border-color: lightsteelblue; 
  color:hsla(44, 100%, 40%, 1.0);
  
}

#homeTown{
  font-weight: 18px;

}

#firstGame{
  font-weight: 18px;

}

#career{
  font-weight: 18px;

}

#bizSuccess{
  font-weight: 18px;

}

#noobieDev{
  font-weight: 18px;

}

ul{
  list-style-type: none;
  padding: 5px;
  display: table;
  
}

li .question{
  padding: 05px;
  margin: 05px;
  color: chocolate;
  float: left;
  width:40%;

}
li .answer{
  float:right;
  width:40%;

}
#greeting{
  font-family: fantasy;

}
.list{
    color: chocolate;
    border: none;
    padding: 5px;
    margin: 10px;

}
