h1{
  color:hsla(122, 87%, 62%, 0.78);
  font-style:italic;
  padding: 10px;
  text-align: center;
  font-size: 42px;
}
body{
  background-color: black;
  border-radius: 30px;
}
p{
  border-style: groove;
  padding: 10px;
  border-width: 15px;


}